/* The colors should already be set on the fonts override, but in the case where you 
/  need to set a one off, use the following. 
*/

.semi-dark {
  color: #696969 !important;
}

.dark {
  color: #333333 !important;
}

.white {
  color: #FFFFFF !important;
}

.primary {
  color: #24956A !important; 
}

.light-green {
  color: #27d682 !important; 
}

.bg-color-grey {
  background-color: #F4F4F4;
}

.bg-color-grey-two {
  background-color: #F0F0F0;
}

.bg-color-white {
  background-color: #FFFFFF;
}

.bg-color-faded-green {
  background-color: #E7FBF1;
}

.bg-color-primary {
  background-color: #24956A !important;
}

.bg-color-dark {
  background-color: #333333 !important;
}

.bg-color-bi-white-grey {
  background: linear-gradient(to top, #F4F4F4  80%, white 0%)
}

.bg-color-bi-primary-white {
  background: linear-gradient(to top, white  95%, #24956A 0%)
}

.bg-color-bi-white-to-primary {
  background: linear-gradient(to top, #24956A  95%, white 0%)
}

@media (min-width: 768px) { /* md */
  .bg-color-bi-white-grey {
    background: linear-gradient(to top, #F4F4F4  20%, white 0%)
  }

  .bg-color-bi-primary-white {
    background: linear-gradient(to top, white  75%, #24956A 0%)
  }

  .bg-color-bi-white-to-primary {
    background: linear-gradient(to top, #24956A  55%, white 0%)
  }

}
