/*fun*/
.conditions {
	font-family: 'Varela Round', serif;
}

.conditions .footer, .conditions .header {
    background: linear-gradient(to bottom right, #099778, #06C572);
    color: #fff;
    text-align: center;
}

/*text*/
.conditions .heading h1 {
  font-weight: 100;
  font-size: 50px;
  line-height: 68px;
}

.conditions .body {
    padding: 20px;
}

.conditions .footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.conditions a {
    color: #444;
}

.conditions .header a, .conditions .footer a {
    color: #fff;
}
