/*
/   These are classes that should be used to style ALL sections. 
/   Please take the time to quickly read them. Please use them. 
*/

/* The vertical padding in a section */
.section-bottom-padding, .section-y-padding {
  padding-bottom: 2.5rem;  
}

.section-top-padding, .section-y-padding {
  padding-top: 2.5rem;
}

/* There are ONLY two types of "text" separators in a section. 
/ .pb-big => separator between an H2 & text below
/ .pb-small => separator between an H3 & text below
*/
.pb-big {
  padding-bottom: 0.938rem !important;
}

.pb-small {
  padding-bottom: 0.625rem !important;
}

@media (min-width: 1200px) { 
  .section-bottom-padding, .section-y-padding {
    padding-bottom: 5rem;  
  }
  
  .section-top-padding, .section-y-padding {
    padding-top: 5rem;
  }

  .pb-big {
    padding-bottom: 1rem !important;
  }

  .pb-small {
    padding-bottom: 0.75rem !important;
  }
}
