/* paddings */
.p-6 {
  padding: 5rem;
}

/* py */
.pt-6, .py-6 {
  padding-top: 5rem;
}

.pb-6, .py-6 {
  padding-bottom: 5rem;
}

/* px */
.pl-6, .px-6{
  padding-left: 5rem;
}

.pr-6, .px-6 {
  padding-right: 5rem;
}

/* margins */
.m-6 {
  margin: 5rem;
}

/* my */
.mt-6, .my-6 {
  margin-top: 5rem;
}

.mb-6, .my-6 {
  margin-bottom: 5rem;
}

/* mx */
.ml-6, .mx-6 {
  margin-left: 5rem;
}

.mr-6, .mx-6 {
  margin-right: 5rem;
}

@media (min-width: 576px) { /* sm */
  /* py */
  .pt-sm-6, .py-sm-6 {
    padding-top: 5rem;
  }

  .pb-sm-6, .py-sm-6 {
    padding-bottom: 5rem;
  }

  /* px */
  .pl-sm-6, .px-sm-6{
    padding-left: 5rem;
  }

  .pr-sm-6, .px-sm-6 {
    padding-right: 5rem;
  }

   /* my */
  .mt-sm-6, .my-sm-6 {
    margin-top: 5rem;
  }

  .mb-sm-6, .my-sm-6 {
    margin-bottom: 5rem;
  }

  /* mx */
  .ml-sm-6, .mx-sm-6 {
    margin-left: 5rem;
  }

  .mr-sm-6, .mx-sm-6 {
    margin-right: 5rem;
  }
}

@media (min-width: 768px) { /* md */
  /* py */
  .pt-md-6, .py-md-6 {
    padding-top: 5rem;
  }

  .pb-md-6, .py-md-6 {
    padding-bottom: 5rem;
  }

  /* px */
  .pl-md-6, .px-md-6{
    padding-left: 5rem;
  }

  .pr-md-6, .px-md-6 {
    padding-right: 5rem;
  }

   /* my */
  .mt-md-6, .my-md-6 {
    margin-top: 5rem;
  }

  .mb-md-6, .my-md-6 {
    margin-bottom: 5rem;
  }

  /* mx */
  .ml-md-6, .mx-md-6 {
    margin-left: 5rem;
  }

  .mr-md-6, .mx-md-6 {
    margin-right: 5rem;
  }
}

@media (min-width: 992px) { /* lg */
    /* py */
    .pt-lg-6, .py-lg-6 {
      padding-top: 5rem;
    }
  
    .pb-lg-6, .py-lg-6 {
      padding-bottom: 5rem;
    }
  
    /* px */
    .pl-lg-6, .px-lg-6{
      padding-left: 5rem;
    }
  
    .pr-lg-6, .px-lg-6 {
      padding-right: 5rem;
    }
  
     /* my */
    .mt-lg-6, .my-lg-6 {
      margin-top: 5rem;
    }
  
    .mb-lg-6, .my-lg-6 {
      margin-bottom: 5rem;
    }
  
    /* mx */
    .ml-lg-6, .mx-lg-6 {
      margin-left: 5rem;
    }
  
    .mr-lg-6, .mx-lg-6 {
      margin-right: 5rem;
    }

}
