.stars {
  width: 70%;
}

.face {
  height: 130px;
  visibility: hidden;
}

.slick-slide.slick-center img {
  height: 300px;
  visibility: visible;
}

.slick-dots {
  color: white !important;
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-prev:before {
  font-size: 30px !important;
}

.slick-next:before {
  font-size: 30px !important;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

.carousel-width {
  width: 300px;
}

.play-button {
  position: absolute;
  top: 11rem;
  left: 6.4rem;
  cursor: pointer;
}

.flex-and-center {
  display: flex;
  justify-content: center;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 14px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '\2022';
    text-align: center;
    opacity: .25;
    color: #FFFFFF !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.carousel-bg {
  background-image: url('/v3/testimonial/mobile-platform.png');
	background-repeat: no-repeat; 
	background-size: cover;
  height: 800px;
  margin-bottom: -15px;
}

.testimonial-text {
  font-size: .875rem;
  line-height: 1.75rem;
  padding-right: 40px;
  padding-left: 40px;
}

.testimonial-name {
  font-size: 1.375rem;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
}

@media (min-width: 375px) {
  .testimonial-text {
    font-size: .875rem;
    line-height: 1.75rem;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 414px) {
  .testimonial-text {
    font-size: .875rem;
    line-height: 1.75rem;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 666px) {
  .carousel-width {
    width: 500px;
  }

  .face {
    height: 200px;
    visibility: visible;
  }

  .slick-slide.slick-center img {
    height: 300px;
  }

  .carousel-bg {
    background-image: url('/v3/testimonial/platform.png');
    background-repeat: no-repeat; 
    background-size: cover;
    height: 780px;
    margin-bottom: -10px;
  }

  .testimonial-text {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .testimonial-name {
    font-size: 1.5rem;
  }

   .membership-card-font-size {
    font-size: 16px;
  }

  .stars {
    width: 50%;
  }
}

@media (min-width: 1200px) {

  .stars {
    width: 25%;
  }
}