.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: none;
  background: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  outline: none;
  max-width: 90%;
  width: 375px;
  padding: 20px 0px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 375px) {
  .modal-content {
    width: 775px;
  }
}
