.section-title {
    color: #333333;
    font-family: 'EuclidCircular-B-Bold';
}

.section-subheader {
  line-height: 28px;
  letter-spacing: 0.5px;
}
  
.section-body {
  letter-spacing: 0;
  color: #696969;
  line-height: 28px;
  font-family: 'EuclidCircular-B-Regular';
}

.green {
  color: #27D682;
}

.compare-table {
  background-color: #FFFFFF !important;
  box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.04);
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  border-collapse: collapse;
  font-family: 'EuclidCircular-B-Regular';
}

.compare-table td {
  vertical-align: middle !important;
}

.table-header-cell-green {
  background-color:#24956A;
}

.table-data-cell-green {
  background-color:  rgba(25,196,143,0.10) !important;
  border: 1px solid  #24956A !important;
  color :#24956A;
}

.table-title-row {
  border-right: 1px solid  #24956A !important;
}

.container-dark {
  background-color: #F4F4F4;
}
