.content-header {
    max-width:100% !important;
}

.content-header .header-body {
    background: #24956A url('/rebrand/Waves.svg') no-repeat bottom;
    background-size: cover;
}

.sign-up-button {
    border: solid 3px white !important;
    border-radius: 5px !important;
}

.content-header-text {
    font-size: 2rem;
    font-family: 'EuclidCircular-B-Bold';
}

.content-subheader-text {
    font-family: 'EuclidCircular-B-Regular';
    line-height: 28px;
}

@media (min-width: 576px) {
    .content-header-text {
        font-size: 2.5rem;
    }
}
