.media-logo {
  height: 75px
}

@media (min-width: 576px) { 
  .media-logo {
    height: 100px
  }
}

@media (min-width: 768px) { 
  .media-logo {
    height: 75px
  }
}

@media (min-width: 992px) { 
  .media-logo {
    height: 90px
  }
}

@media (min-width: 1200px) {  
  .media-logo {
    height: 100px
  }
}