.phone-number-button-section {
  display: flex;
  flex-direction: column;
}

.phone-number {
  margin-bottom: 1rem;
}

.text-me-the-link-button {
  background: #24956A !important;
  color: white !important;
  border-style: none !important;
  font-family: 'EuclidCircular-B-Bold' !important;
}

.phone-number-input::placeholder {
  font-family: 'EuclidCircular-B-Regular' !important;
}

@media (min-width: 1600px) {
  .phone-number-button-section {
    flex-direction: row;
  }

  .phone-number {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}