.product-info-card {
  background: #FFFFFF;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.10);
  border-radius: 8px;
  height: 100%;
}

.active-left-radius {
  border-radius: 8px 0px 0px 8px;
}

.active-right-radius {
  border-radius: 0px 8px 8px 0px;
}